.button {
    background-color: transparent; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    
    background-color: transparent; 
    color: rgb(255, 255, 255); 
    border: 2px solid #dfdfdf;
  }
  
  .button1:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
      *{
    margin:0;
    padding:0;
    font-family:verdana;
  }
  
  nav{
    width: 100%;
    height: 100px;
    position: relative;
    line-height: 50px;
  background-color: transparent;
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.5s all;
  }
  nav ul li:hover{
    background-color:rgb(255, 255, 255);
  
  }
  nav ul li a{
    text-decoration:none;
    color: #fff;
    padding: 30px;
  }
  nav ul li a:hover{
    text-decoration: none;
    color: #0c0b0b;
    padding: 30px;
    
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    font-size: 17px;
  }
  
  .container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .container img {vertical-align: middle;}
  
  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  #footer {
    background: #292727;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }
  
  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #f0f0f0;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }
  
  
  .gg-phone {
     box-sizing: border-box;
     position: relative;
     display: block;
     width: 22px;
     height: 22px;
     transform: scale(var(--ggs,1))
  }
  .gg-phone::after,.gg-phone::before {
     content: "";
     display: block;
     box-sizing: border-box;
     position: absolute
  }
  .gg-phone::after {
     width: 18px;
     height: 18px;
     border-top-left-radius: 1px;
     border-bottom-right-radius: 1px;
     border-bottom-left-radius: 12px;
     border-left: 4px solid;
     border-bottom: 4px solid;
     left: 2px;
     bottom: 2px;
     background:
        linear-gradient(
           to left,
           currentColor 10px,
           transparent 0
        ) no-repeat right 11px/6px 4px,
        linear-gradient(
           to left,
           currentColor 10px,
           transparent 0
        ) no-repeat -1px 0/4px 6px
  }
  .gg-phone::before {
     width: 20px;
     height: 20px;
     border: 6px double;
     border-top-color: transparent;
     border-bottom-color: transparent;
     border-left-color: transparent;
     border-radius: 50%;
     transform: rotate(-45deg);
     bottom: 2px;
     left: 2px
  }
  input[type=text], select ,textarea{
    width: 180px;
    padding: 12px 20px;
      margin: 8px 0;
      color: #070707;
     background-color: transparent;
    display: inline-block;
    border: 3px solid #080808;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=date], select {
    width: 150px;
    padding: 12px 20px;
      margin: 8px 0;
     background-color: transparent;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=time], select {
    width: 150px;
    padding: 12px 20px;
      margin: 8px 0;
     background-color: transparent;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email], select {
    width: 360px;
    padding: 12px 20px;
      margin: 8px 0;
      color: #050505;
     background-color: transparent;
    display: inline-block;
    border: 3px solid #0e0c0c;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
    
    
    .button2 {
      background-color: rgb(7, 7, 7); 
      color: rgb(245, 239, 239); 
      border: 2px solid #0c0909;
      
    }
    
    .button2:hover {
      background-color: #0c0808;
      color: rgb(235, 225, 225);
      
    }
    .row{
      position:relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
     
  }
  .row .col50{
      position: relative;
      width: 50%;
      justify-content: center;
      align-items: center;
      
  }
  
  .row .col50 img{
      height: 300px;
      width: 600px;
      position: relative;
      
  }
  img {vertical-align: middle;}
  
  hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
  }
  .l{
    background-color: white; 
    border: none;
    color: rgb(10, 8, 8);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
    #myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(3, 3, 3); 
    color: rgb(248, 239, 239); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
    .error-message {
              color: red;
              font-size: 14px;
          }
          .card{
      width:200;
      height :230;
      display : inline-block;
      border-radius: 10px;
      padding  : 15px 25pxx;
      box-sizing :border-box;
      cursor: pointer;
      margin: 10px 15px;
      background-image: url(image/meubles_a_vendre.html);
      background-position: center;
      background-position: cover;
  }